// Base color scheme.
@theme-black: #383D40;
@theme-blue: #7CBDA1;
@theme-pink: #F3C8B4;
@theme-red: #DA807D;
@theme-white: #F5F2F1;

// Fonts.
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@font-family: "Open Sans Condensed";

// Directions view.
#directions {
    font-family: @font-family, "Sans Serif";
    position: fixed;
    top: 100%;
    margin-top: -55px;
    width: 100%;
    height: 55px;
    z-index: 100;
    border:2px solid @theme-red;
    color: @theme-red;
    border-radius: 5px;
    background-color: @theme-white;
    
    .directions-container {
        position: fixed;
        left: 10px;
        margin: 10 20 20 20px;
        text-align: center;

        h1 {
            font-family: @font-family;
            font-size: 24px;
            font-weight: normal;
            line-height: 15px;
        }

        span {
            font-size: 16px;
            font-style: italic;
        }
    }
}

// Filters view.
#filters {
    font-family: @font-family, "Sans Serif";
    position: fixed;
    left: 0px;
    top: 50%;
    margin-top: -75px;
    width: auto;
    height: auto;
    z-index: 100;
    border:2px solid @theme-red;
    color: @theme-red;
    border-radius: 5px;
    background-color: @theme-white;
}

.filters-container {
    .filters-list {
        margin-top: 12px;
        list-style-type: none;

        li {
            margin-left: -37px;
        }
    }
}

// Global price styles.
#globalPrice {
    font-family: @font-family, "Sans Serif";
    position: fixed;
    top: 5px;
    right: 5px;
    width: auto;
    height: auto;
    z-index: 100;
    border:2px solid @theme-red;
    color: @theme-red;
    border-radius: 5px;
    background-color: @theme-white;

    h3 {
        margin: 0 15px;
    }
}
// Button.
button {
    position: fixed;
    color: @theme-red;
    font-style: italic;
    width: auto;
    height: 30px;
    background-color: @theme-white;
    margin-top: -30px;
    right: 5px;

    &:hover {
        background-color: @theme-pink;
    }
}