<!-- Home Template -->
<template name="home">
    {{> map}}
    {{> filters}}
    {{> directions}}
</template>

<!-- Map Template -->
<template name="map">
	<div id="container" class="container-fluid">
        {{#constant}}
        <div id="map"></div>
        {{/constant}}
    </div>
</template>

<!-- Filters Templates -->
<template name="filters">
	<div id="filters">
		<div class="filters-container">
			<h3>Hello!</h3>
		</div>
	</div>
</template>

<!-- Directions Template -->
<template name="directions">
	<div id="directions">
		<div class="directions-container">
			<div id="title" class="collapse in">
				<h1>Text your price for a commodity to {number}
					<span>Example Text Messages: "corn: 1.59", "coffee: 2.21", "wheat: 1.21"</span>
				</h1>
			</div>
		</div>
	</div>
</template>

